Flask
openai
psycopg2-binary
SQLAlchemy
pytest
python-dotenv
flask_sqlalchemy
flask_cors
google-cloud-speech
google-cloud
google-cloud-storage
google-cloud-videointelligence
assemblyai
google
textract