.Initial_LandingPage {
    display: flex;
    width: 100%;
}

.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.LandingPage_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 4vw;
}

.LandingPage_Header_Content {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.LandingPage_Header h1 {
    font-size: var(--h3-size);
    font-weight: 400;
}

.LandingPage_Header_Authentication {
    display: flex;
    gap: 1vw;
}

.LandingPage_Header_Authentication button {
    padding-top: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-bottom: 0.5vw;
    border-radius: 0.5vw;
    font-size: var(--p-size);
    cursor: pointer;
}

.LandingPage_Header_Authentication_Login {
    background-color: white;
    border: solid 1.5px rgb(238, 238, 238);
}

.LandingPage_Header_Authentication_SignUp {
    background-color: #e9e3a6;
    border: solid 1.5px #e9e3a6;
}

.LandingPage_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 5vw;
    gap: 2vw;
}

.LandingPage_Content h1 {
    font-weight: 400;
    font-size: var(--h1-size);
    width: 35vw;
    text-align: center;
}

.LandingPage_Content h6 {
    font-weight: 400;
    font-size: var(--h6-size);
    text-align: center;
    width: 30vw;
    color: rgb(166, 166, 166);
}