.ComplaintTab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25vw;
    background-color: #f9f9f9;
    padding: 1.5vw;
    transition: width 0.3s ease;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Updated font family */
}

.ComplaintTab.Collapsed {
    width: 5vw;
}

.ComplaintTab_Header {
    width: 100%;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ComplaintTab_Header h3 {
    font-size: var(--h3-size); 
    margin: 0;
    padding-left: 1vw;
    font-weight: var(--standard-weight); /* Add weight for bold text */
}

.ComplaintTab_Header p {
    font-size: var(--p-size);
    font-weight: var(--standard-weight);
    margin: 0;
    padding-left: 1vw;
    color: var(--subtle-color); /* Subtle color for the email */
}

.ComplaintTab_Tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.ComplaintTab_Tabs.Hidden {
    opacity: 0;
    pointer-events: none;
}

.ComplaintTab_Tabs_ViewTabs {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.ComplaintTab_Tabs_InputTabs {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.ComplaintTab_Tabs_InputTabs p {
    font-size: var(--p-size);
    font-weight: var(--standard-weight);
}

.ComplaintTab_Tabs button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.8vw; /* Slightly taller buttons */
    padding-left: 1vw;
    font-size: var(--p-size);
    border: none;
    cursor: pointer;
    
}

.ComplaintTab_Tabs_Active {
    background-color: white;
    border-radius: 1vw;
    color: black;
    font-weight: var(--light-bold-weight); /* Bold for the active tab */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.ComplaintTab_Tabs_Inactive {
    color: var(--subtle-color); /* Softer gray for inactive tabs */
    font-weight: var(--standard-weight);
    background: none;
}

.Input_Tabs_Active {
    background: var(--gold-color);
    border-radius: 1vw;
    color: black;
    font-weight: var(--light-bold-weight); /* Bold for the active tab */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.Input_Tabs_Inactive {
    color: var(--subtle-color); /* Softer gray for inactive tabs */
    font-weight: var(--standard-weight);
    background: none;
}

.ComplaintTab_Tabs_File {
    display: flex;
    gap: 1vw;
}

.ComplaintTab_Tabs_File button {
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    width: 8vw;
    padding-left: 0vw;
}

.ComplaintTab_Tabs_File label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 1vw;
    width: 8vw;
    font-weight: var(--bold-weight);
    cursor: pointer;
}

.ComplaintTab_Tabs_File input{
    display: none;
}

.ComplaintTab_Tabs_Submit {
    font-weight: var(--bold-weight);
    background-color: var(--green-color);
}

.ComplaintTab_Tabs button:hover {
    background-color: #f0f0f0;
    border-radius: 1vw;
}

.CollapseButton {
    cursor: pointer;
    padding-right: 1vw;
}
